*{
    magin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:rgb(172, 253, 185);
    text-align:center;
    line: height 2.1em;

p {
  font-family: 'Trocchi', serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: 600px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}


}


.hero img{
    border-radius:50%;

}

.accent{
    color:#26836c;
}